<div class="grid_12">

  <h2>Sign in</h2>

  <% form_for resource_name, resource, :url => session_path(resource_name) do |f| -%>
    <p><%= f.label :login %> <br /> <%= f.text_field :login, :class => 'text' %></p>
    <p><%= f.label :password %> <br /> <%= f.password_field :password, :class => 'text' %></p>
    <%= f.hidden_field :remember_me, :value => true %>
    <p><%= f.submit "Sign in" %></p>
  <% end -%>

</div>