<div class="grid_12">

  <h2>Sign up</h2>

  <% form_for User.new do |f| %>
    <%= error_messages_for :user %>
    <%= f.hidden_field :invitation, :value => @invitation.code %>
    <%= f.hidden_field :email, :value => @invitation.email %>
    <p><%= f.label :login %> <br /> <%= f.text_field :login, :class => 'text' %></p>
    <p><%= f.label :password %> <br /> <%= f.password_field :password, :class => 'text' %></p>
    <p><%= f.label :password_confirmation %> <br /> <%= f.password_field :password_confirmation, :class => 'text' %></p>
    <p><%= f.submit "Sign up" %></p>
  <% end %>

</div>