<div class="grid_12">

  <h2>Sign in</h2>

  <%= form_for resource, :as => resource_name, :url => session_path(resource_name) do |f| %>
    <p><%= f.label :login %> <br /> <%= f.text_field :login, :class => 'text' %></p>
    <p><%= f.label :password %> <br /> <%= f.password_field :password, :class => 'text' %></p>
    <%= f.hidden_field :remember_me, :value => true %>
    <p><%= f.submit "Sign in" %></p>
    <p><%= link_to 'Forgot your password?', new_user_password_path, :class => 'light small' %></p>
  <% end %>

</div>

<script>$('#user_login').focus();</script>