<div class="grid_10">

  <h2>playlist <a href="#shuffle" class="shuffle">shuffle</a></h2>

  <% if user_signed_in? %>

    <div id="swfupload-control">
    	<span id="swfupload-button"></span>
    	<span id="upload-link"><%= link_to '&raquo;', new_post_path, :confirm => "Use the regular upload form instead?" %></span>
    </div>

    <% content_for :head do %>
      <%= render 'uploader' %>
    <% end %>

  <% end %>

    <ul id="swfupload-playlist" class="playlist">
      <% @feed_items.each do |feed_item| %>
        <li><%= render feed_item.post %></li>
      <% end if @feed_items %>
    </ul>

</div>

<div id="users" class="grid_2">

  <h2>following</h2>

  <ul class="users">
    <% # TODO followings/followers ordering not working, so using sort_by here %>
    <% @followings.sort_by{|u| u.login.downcase}.each do |user| %>
      <li><%= render user %></li>
    <% end if @followings %>
  </ul>

  <h2 class="pad_top">invite a new user</h2>

  <%= render 'invitations/form' %>

</div>