<% form_for @post || Post.new, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <p><%= f.file_field :attachment %></p>
  <p>...or upload via URL: <%= f.text_field :attachment_url, :class => 'text' %></p>
  <p><%= f.submit 'Post' %></p>
<% end %>

<h2>Posts</h2>

<ul>
  <% @posts.each do |post| %>
    <li>
      <b><%= link_to h(post.user), post.user %></b>
      <%= link_to post.title, post.title, :id => post.attachment.url, :class => 'audio' %> | <%=h post.artist %> | <%=h post.album %>
    </li>
  <% end if @posts %>
</ul>

<h2>Users</h2>

<ul>
  <% @users.each do |user| %>
    <li><b><%= link_to h(user), user %></b></li>
  <% end if @users %>
</ul>
