<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>KZAK!</title>
  <%= stylesheet_link_tag 'reset', '960', 'application', 'jquery.playable', :cache => true %>
  <%= javascript_include_tag 'application', 'jquery', 'soundmanager', 'jquery.playable', 'jquery.playable.ui.simple', 'swfupload', 'jquery.swfupload', :cache => true  %>
  <%= yield :head %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      $.playable('/flash/');
      $('#swfupload-playlist').playable();
    });
  </script>
</head>
<body>
  <div class="container_12">
  	<div class="grid_6">
      <h1><%= link_to 'KZAK!', root_path %></h1>
  	</div>
  	<div class="grid_6">
      <%= render 'shared/status' %>
  	</div>
  	<div class="grid_12">
      <%= render 'shared/flash' %>
    </div>
    <div class="clear"></div>
    <%= yield %>
    <div class="clear"></div>
    <div id="footer" class="grid_12">
      <%= image_tag 'bplayer2.gif' %>
    </div>
  </div>
</body>
</html>
