<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>KZAK!</title>
  <%= stylesheet_link_tag 'reset', '960', 'application', :cache => true %>
  <%= javascript_include_tag 'application', 'jquery', 'soundmanager', 'swfupload', 'jquery.swfupload', :cache => true  %>
  <%= yield :head %>
  <script>

    var sm = soundManager;

    sm.url = '/flash';
    sm.debugMode = false;
    sm.useConsole = true;
    
    sm.onready(function(){
    
      $('a[href$=.mp3]').addClass('playable');
      
      // $('a[href$=.mp3]').live(function(){
      //   $(this).addClass('playable');
      //   return false;
      // });
      
      $('.playable').each(function(){        
        sm.createSound(this.id,this.href);
      });        
      
      $('.playable').click(function(e){
        e.preventDefault();
        // $(this).togglePlayState();
        // return false;
        
        if ($(this).hasClass('playing')) {
          $(this).removeClass('playing');
          $(this).addClass('paused');
          sm.pause(this.id);
        } else {
          $(this).removeClass('paused');
          $(this).addClass('playing');
          sm.play(this.id);
        }
      });
            
      // jQuery.fn.extend({
      // 
      //   togglePlayState:function() { 
      //     
      //     if (this.hasClass('playing')) {
      //       this.removeClass('playing');
      //       this.addClass('paused');
      //       sm.pause(this.id);
      //     } else {
      //       this.removeClass('paused');
      //       this.addClass('playing');
      //       console.log(this.id); // TODO why is this undefined?
      //       sm.play(this.id);
      //     }
      //   },
      // 
      // });
                  
    });
  </script>
</head>
<body>
  <div class="container_12">
  	<div class="grid_6">
      <h1><%= link_to 'KZAK!', root_path %></h1>
  	</div>
  	<div class="grid_6">
      <%= render 'shared/nav' %>
  	</div>
  	<div class="grid_12">
      <%= render 'shared/flash' %>
    </div>
    <div class="clear"></div>
    <%= yield %>
    <div class="clear"></div>
    <div id="footer" class="grid_12">
      <%= image_tag 'bplayer2.gif' %>
    </div>
  </div>
</body>
</html>
