<!DOCTYPE html>
<html>
<head>
  <title>KZAK!</title>
  <%= stylesheet_link_tag 'reset', '960', 'forms', 'application' %>
  <%= javascript_include_tag 'jquery', 'rails', 'jquery.form', 'jquery.hint', 'jquery.shuffle', 'soundmanager2', 'swfupload', 'application' %>
  <%= csrf_meta_tag %>
  <%= auto_discovery_link_tag :rss, rss_url, 'RSS' if user_signed_in? %>
  <%= yield :head %>
</head>
<body>
  <div class="container_12">
  	<div class="grid_6">
      <h1><%= link_to 'KZAK!', root_path %></h1>
  	</div>
  	<div class="grid_6">
      <%= render 'shared/nav' %>
  	</div>
  	<div id="flash" class="grid_12">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" unless msg.blank? %>
      <% end %>
    </div>
    <div class="clear"></div>
    <%= yield %>
    <div class="clear"></div>
    <div id="footer" class="grid_12">
      <%= image_tag 'bplayer2.gif' %>
    </div>
  </div>
</body>
</html>